$headerHeight: em(80, $fz);

.header-wrapper {
  height: $headerHeight;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__logo {
    height: em(35, $fz);
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo-img {
    height: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-left: em(30, $fz);
    list-style: none;
  }

  &__link {
    font-size: em(15, $fz);
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  &__language {
    display: flex;
  }

  &__language-btn {
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  &__active-language {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $primary-color;
    text-decoration: underline;
  }

  &__menu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    animation: showAnimation .25s ease-out;

    &--visible {
      display: block;
      height: 90%;
    }

    .menu-btn {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &__content-wrapper {
      background: $default-color;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      text-align: center;
    }

    &__nav {
      margin-left: -20px;
      margin-top: 80px;

      li {
        padding: 10px 40px;
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }

  @media screen and (max-width: 1400px) {
    padding: em(24, $fz) em(30, $fz);
  }

  @media screen and (max-width: 880px) {
    &__language {
      margin-left: auto;
    }

    .menu-btn {
      width: 20px;
      span,
      span::before,
      span::after {
        height: 2px;
        background-color: $primary-color;
      }
    }

    &__btn {
      display: none;
    }

    &__nav {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .menu-btn {
      width: 20px;
      span,
      span::before,
      span::after {
        height: 2px;
        background-color: $primary-color;
      }
    }

    &__menu {
      @keyframes showAnimation {
        0% {
          opacity: 0;
        }
      }
    }
  }

  @media screen and (max-width: $breakpointSmall) {
    .menu-btn {
      width: 20px;
    }

    .menu-btn--ml {
      margin-left: 10px;
    }

    &__logo-img {
      height: 70%;
    }
  }
}