.header-wrapper {
  width: 100%;
  background: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1098px;
  max-height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 20px;

  &__logo {
    width: 130.6px;
    height: 20.42px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo-img {
    height: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 39px;
    list-style: none;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #2D3238;

    &:hover {
      color: #1792C7;
    }

    &:active {
      color: rgba(85, 94, 104, 0.5);
    }
  }

  &__language {
    display: flex;
  }

  &__language-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #2D3238;
    opacity: 0.5;

    &:hover {
      background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__active-language {
    color: #00B8F0;
    text-decoration: underline;
    opacity: 1;
  }

  @media screen and (max-width: 1440px) {
    width: 632.16px;
    justify-content: space-between;

    &__btn {
      display: none;
    }

    &__language {
      margin-left: 350px;
    }

    &__nav {
      display: none;
    }

    &__link {
      font-weight: 500;
      font-size: 24px;
    }

    .menu-btn {
      span,
      span::before,
      span::after {
        width: 27px;
        height: 3.54px;
        background-color: $primary-color;
      }
    }
  }


  //Hiden Menu
  &__menu {
    display: none;
    background: #FFFFFF;
    text-align: center;

    &--visible {
      display: block;
    }

    &__nav {
      margin-left: -20px;
      margin-top: 152.39px;

      li {
        margin-bottom: 32px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 278px;

    &__language {
      margin-left: 20px;
    }
  }
}