.btn {
  cursor: pointer;

  &__label {
    font-weight: 600;

    &--hollow{
      width: 175px;
      height: 36px;
      border-radius: 44px;
      background: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 12px;

      &--text {
        background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 16px;
      }
    }

    &--fill{
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
    }
  }

  &--hollow {
    width: 175px;
    height: 48px;
    border-radius: 44px;
    position: relative;
    background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);
    padding: 1px;

    &:hover {
      box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    }
  }

  &--fill {
    background: linear-gradient(180deg, #1792C7 0%, #00B8F0 100%);;
    border-radius: 44px;
    width: 161px;
    height: 48px;
    border: none;

    &--header {
      width: 175px;
      height: 48px;
      margin-left: 15px;
      margin-top: 4px;
      font-weight: 600;
      font-size: 16px;
    }

    &--connect {
      width: 175px;
      height: 48px;
    }

    &:hover {
      box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    }
  }

}
