.btn {
  padding: em(10, $fz);
  cursor: pointer;

  &__label {
    font-weight: 600;

    &--hollow{
      color: $primary-color;
    }

    &--fill{
      color: $default-color;
    }
  }

  &--hollow {
    background: $default-color;
    border-radius: em(44, $fz);
    min-width: em(175, $fz);
    border: 2px solid black;
    border-color: $primary-color;

    &:hover {
      box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    }
  }

  &--fill {
    background: $gradient;
    border-radius: em(44, $fz);
    min-width: em(175, $fz);
    border: none;

    &:hover {
      box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
    }
  }

  @media screen and (max-width: 320px){
    &--fill {
      min-width: em(0, $fz);
      width: em(100, $fz);
    }
  }
}
