.cases {

  .swiper-container {
    padding: 0 5px;
    padding-bottom: 35px;
  }

  .swiper-slide {
    display: -webkit-flex;
    -webkit-justify-content: center;
  }

  .swiper-pagination {
    bottom: 5px;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}