body {
  font-family: $mainFont;
  background: $default-color;
}

//.page {
//  z-index: -5;
//}

.warning {
  color: red;
}

.material-icons {
  color: #99BA00;
  margin-right: 10px;

  &__blue {
    color: #00B8F0;
  }
}

.blue-text {
  color: #00B8F0;
  display: flex;
  align-items: center;
}

.connect {
  background-color: #F3F9FF;
}