.input {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: em(44, $fz);
  background-color: $input-color;
  font-weight: 400;
  font-size: em($fz, $fz_base);

  &--checked {
    justify-content: center;
    align-items: center;
  }

  &--form {
    max-height: 48px;
    max-width: 440px;
  }

  &--form2 {
    max-height: 48px;
    max-width: 440px;
    background-color: $default-color;
    border: 1px solid rgba(56, 152, 254, 0.4);
  }

  &--email {
    padding: em(15, $fz) em(30, $fz);

    &::placeholder {
      color: $primary-color-second;
    }

    &:focus {
      outline: none;
    }
  }

  &--email2 {
    background-color: $default-color;
    padding: em(15, $fz) em(30, $fz);

    &::placeholder {
      color: $primary-color-second;
    }

    &:focus {
      outline: none;
    }
  }

  @media screen and (max-width: 320px){
    &--form {
      display: none;
    }

    &--email2 {
      max-width: 120px;
    }
  }
}
