.input {
  $fz: 16;
  border: none;
  border-radius: em(44, $fz);
  padding: em(15, $fz) em(30, $fz);
  background-color: $input-color;
  outline: none;
  font-weight: 400;
  font-size: em($fz, $fz_base);

  &::placeholder {
    color: $primary-color-second;
  }
}
