.input {
  display: flex;
  justify-content: space-between;
  $fz: 16;
  border: none;
  border-radius: em(44, $fz);
  background-color: $input-color;
  font-weight: 400;
  font-size: em($fz, $fz_base);

  &--checked {
    justify-content: center;
    align-items: center;
  }

  &--form {
    max-height: 48px;
    max-width: 440px;
  }

  &--email {
    padding: em(15, $fz) em(30, $fz);

    &::placeholder {
      color: $primary-color-second;
    }

    &:focus {
      outline: none;
    }
  }
}
