.menu-btn {
  position: relative;
  cursor: pointer;
  display: none;

  span::before,
  span::after {
    position: absolute;
    background-color: $primary-color;
  }

  span {
    &::before,
    &::after {
      content: '';
      transition: 0.2s;
    }
    &::before {
      width: 100%;

    }
    &::after {
      width: 100%;
      transform: translateY(8px);

      @media screen and (max-width: 768px) {
        transform: translateY(6px);
      }
      @media screen and (max-width: 420px) {
        transform: translateY(5px);
      }
    }
  }
  &.active {
    span {

      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }

  @media (max-width: 880px) {
    display: block;
  }
}
