.menu-btn {
  cursor: pointer;
  margin-bottom: 12px;
  margin-right: 27px;

  span::before,
  span::after {
    position: absolute;
    background-color: #1399CF;
  }

  span {
    &::before,
    &::after {
      content: '';
    }
    &::after {
      transform: translateY(9.7px);
    }
  }

  @media (max-width: 1439px) {
    display: block;
  }
}
