.review-item {
  height: 100%;
  padding: em(15, $fz) em(30, $fz);
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__left {
    max-width: 450px;
  }

  &__img {
    max-height: 500px;
  }

  &__img2 {
    max-height: 300px;
  }

  &__titles {
    font-size: em(40, $fz);
  }

  &__titles2 {
    font-size: em(28, $fz);
  }

  &__titles3 {
    max-width: 35%;
    font-size: em(40, $fz);
  }

  &__titles4 {
    width: 40%;
    font-weight: 500;
    font-size: em(28, $fz);
  }

  &__text {
    font-weight: 400;
    font-size: em(18, $fz);
  }

  &__text2 {
    font-weight: 400;
    font-size: em(18, $fz);
  }

  &__blue {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: $input-color;
  }

  @media screen and (max-width: 1025px) {
    flex-direction: column;
    align-items: center;

    &__tariffs {
      flex-direction: row;
    }

    &__revers {
      flex-direction: column-reverse;
    }

    &__titles {
      text-align: center;
    }

    &__titles4 {
      text-align: center;
    }

    &__titles3 {
      text-align: center;
      max-width: 80%;
      font-size: em(40, $fz);
    }

    &__text {
      text-align: center;
    }

    &__img {
      max-width: 400px;
      max-height: 300px;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;

    &__tariffs {
      max-width: 80%;
    }

    &__titles {
      font-size: em(48, $fz);
    }

    &__img2 {
      max-width: 300px;
      max-height: 200px;

      &--tariffs {
        align-self: flex-end;
      }
    }
  }

  @media screen and (min-width: 500px) {
    &__titles {
      &--tariffs1 {
        display: none;
      }
    }
  }

  @media screen and (max-width: 500px) and (min-width: 430px) {
    &__titles {
      &--tariffs2 {
        display: none;
      }
    }
  }

  @media screen and (max-width: 430px) {

    &__titles {
      &--tariffs1 {
        display: none;
      }
    }

    &__tariffs {
      flex-direction: column-reverse;
    }

    &__img2 {
      &--tariffs {
        align-self: center;
      }
    }
  }

  @media screen and (max-width: 320px) {

    .warning {
      display: none;
    }

    &__img {
      max-width: 200px;
    }

    &__img2 {
      max-width: 200px;
    }

    &__titles {
      font-size: em(32, $fz);
    }

    &__titles3 {
      text-align: center;
      max-width: 100%;
      font-size: em(28, $fz);
    }

    &__titles4 {
      text-align: left;
      align-self: flex-start;
      font-weight: 600;
      font-size: 18px;
    }

    &__text {
      font-size: em(16, $fz);
    }
  }
}
