@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    src: url("#{$file-path}.ttf");
  }
}

@include font-face('AvenirNext', '../assets/fonts/AvenirNext/AvenirNextCyr-Regular', 400);
@include font-face('AvenirNext', '../assets/fonts/AvenirNext/AvenirNextCyr-Medium', 500);
@include font-face('AvenirNext', '../assets/fonts/AvenirNext/AvenirNextCyr-Demi', 600);
@include font-face('AvenirNext', '../assets/fonts/AvenirNext/AvenirNextCyr-Bold', 700);