//Font
$mainFont: 'AvenirNext', sans-serif;

//Size
$fz_base : 16;
$fz : $fz_base;
$mainLineHeight : 1.2;

//Main colors
$default-color : #ffffff;
$primary-color: #00B8F0;
$primary-color-second: #1792C7;
$gradient: linear-gradient(#1792C7 0%, #00B8F0 100%);
$input-color: #F3F9FF;

// Neutral Color
$neutral-primary : #333;
$neutral-regular : #747474;
$neutral-secondary : #98a0aa;

// Breakpoins
$breakpointLarge: 1300px;
$breakpointUpperMiddle: 1024px;
$breakpointMiddle: 768px;
$breakpointSmall: 576px;