@import "~normalize.css/normalize.css";
@import '~swiper/swiper-bundle.min.css';
@import '~react-toastify/dist/ReactToastify.css';
@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  font-style: "normal";
  src: url("../assets/fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
}
@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/AvenirNext/AvenirNextCyr-Italic.ttf");
}
@font-face {
  font-family: "AvenirNext";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/AvenirNext/AvenirNextCyr-Medium.ttf");
}
@font-face {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/AvenirNext/AvenirNextCyr-Demi.ttf");
}
@font-face {
  font-family: "AvenirNext";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/AvenirNext/AvenirNextCyr-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext", sans-serif;
  background: #ffffff;
}
@media screen and (max-width: 1300px) {
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 11px;
  }
}

.null {
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.875em;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 62.5em;
  }
}

.warning {
  color: red;
}

.material-icons {
  color: #99BA00;
  margin-right: 10px;
}

.btn {
  padding: 0.625em;
  cursor: pointer;
}
.btn__label {
  font-weight: 600;
}
.btn__label--hollow {
  color: #00B8F0;
}
.btn__label--fill {
  color: #ffffff;
}
.btn--hollow {
  background: #ffffff;
  border-radius: 2.75em;
  min-width: 10.9375em;
  border: 2px solid black;
  border-color: #00B8F0;
}
.btn--hollow:hover {
  box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
}
.btn--fill {
  background: linear-gradient(#1792C7 0%, #00B8F0 100%);
  border-radius: 2.75em;
  min-width: 10.9375em;
  border: none;
}
.btn--fill:hover {
  box-shadow: 0px 6px 18px rgba(53, 152, 254, 0.38185);
}
@media screen and (max-width: 320px) {
  .btn--fill {
    min-width: 0em;
    width: 6.25em;
  }
}

.menu-btn {
  position: relative;
  cursor: pointer;
  display: none;
}
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  background-color: #00B8F0;
}
.menu-btn span::before, .menu-btn span::after {
  content: "";
  transition: 0.2s;
}
.menu-btn span::before {
  width: 100%;
}
.menu-btn span::after {
  width: 100%;
  transform: translateY(8px);
}
@media screen and (max-width: 768px) {
  .menu-btn span::after {
    transform: translateY(6px);
  }
}
@media screen and (max-width: 420px) {
  .menu-btn span::after {
    transform: translateY(5px);
  }
}
.menu-btn.active span:before {
  transform: rotate(-45deg);
}
.menu-btn.active span:after {
  transform: rotate(45deg);
}
@media (max-width: 880px) {
  .menu-btn {
    display: block;
  }
}

.review-item {
  height: 100%;
  padding: 0.9375em 1.875em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.review-item__left {
  max-width: 450px;
}
.review-item__img {
  max-height: 500px;
}
.review-item__img2 {
  max-height: 300px;
}
.review-item__titles {
  font-size: 2.5em;
}
.review-item__titles2 {
  font-size: 1.75em;
}
.review-item__titles3 {
  max-width: 35%;
  font-size: 2.5em;
}
.review-item__text {
  font-weight: 400;
  font-size: 1.125em;
}
.review-item__text2 {
  font-weight: 400;
  font-size: 1.125em;
}
.review-item__blue {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F3F9FF;
}
@media screen and (max-width: 1025px) {
  .review-item {
    flex-direction: column;
    align-items: center;
  }
  .review-item__revers {
    flex-direction: column-reverse;
  }
  .review-item__titles {
    text-align: center;
  }
  .review-item__titles3 {
    text-align: center;
    max-width: 80%;
    font-size: 2.5em;
  }
  .review-item__text {
    text-align: center;
  }
  .review-item__img {
    max-width: 400px;
    max-height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .review-item {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
  .review-item__titles {
    font-size: 3em;
  }
  .review-item__img2 {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .review-item .warning {
    display: none;
  }
  .review-item__img {
    max-width: 200px;
  }
  .review-item__img2 {
    max-width: 200px;
  }
  .review-item__titles {
    font-size: 2em;
  }
  .review-item__titles3 {
    text-align: center;
    max-width: 100%;
    font-size: 1.75em;
  }
  .review-item__text {
    font-size: 1em;
  }
}

.review-slider .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 2px;
}

.input {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 2.75em;
  background-color: #F3F9FF;
  font-weight: 400;
  font-size: 1em;
}
.input--checked {
  justify-content: center;
  align-items: center;
}
.input--form {
  max-height: 48px;
  max-width: 440px;
}
.input--form2 {
  max-height: 48px;
  max-width: 440px;
  background-color: #ffffff;
  border: 1px solid rgba(56, 152, 254, 0.4);
}
.input--email {
  padding: 0.9375em 1.875em;
}
.input--email::placeholder {
  color: #1792C7;
}
.input--email:focus {
  outline: none;
}
.input--email2 {
  background-color: #ffffff;
  padding: 0.9375em 1.875em;
}
.input--email2::placeholder {
  color: #1792C7;
}
.input--email2:focus {
  outline: none;
}
@media screen and (max-width: 320px) {
  .input--form {
    display: none;
  }
  .input--email2 {
    max-width: 120px;
  }
}

.hiw {
  display: flex;
  padding: 0.9375em 1.875em;
  justify-content: space-around;
  align-items: center;
}
.hiw__titles {
  padding: 0.9375em 1.875em;
  font-size: 2.5em;
}
@media screen and (max-width: 1025px) {
  .hiw__titles {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .hiw {
    flex-direction: column;
  }
}

.hiw-item {
  width: 20%;
  text-align: center;
}
.hiw-item--img {
  max-height: 150px;
}
@media screen and (max-width: 1025px) {
  .hiw-item--img {
    max-height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .hiw-item--img {
    max-height: 70px;
  }
}
@media screen and (max-width: 500px) {
  .hiw-item--img {
    max-height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .hiw-item {
    width: 80%;
  }
}

.header-wrapper {
  height: 5em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  background: #FFFFFF;
  z-index: 99;
}
.header__logo {
  height: 2.1875em;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__logo-img {
  height: 100%;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 1.875em;
  list-style: none;
}
.header__link {
  font-size: 0.9375em;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__link:hover {
  color: #00B8F0;
}
.header__language {
  display: flex;
}
.header__language-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__language-btn:hover {
  color: #00B8F0;
}
.header__active-language {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #00B8F0;
  text-decoration: underline;
}
.header__menu {
  display: none;
  position: fixed;
  background: #FFFFFF;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  animation: showAnimation 0.25s ease-out;
}
.header__menu--visible {
  display: block;
  height: 90%;
}
.header__menu .menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.header__menu__content-wrapper {
  background: #ffffff;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
}
.header__menu__nav {
  margin-left: -20px;
  margin-top: 80px;
}
.header__menu__nav li {
  padding: 10px 40px;
}
.header__menu__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 1.5em 1.875em;
  }
}
@media screen and (max-width: 880px) {
  .header__language {
    margin-left: auto;
  }
  .header .menu-btn {
    width: 20px;
  }
  .header .menu-btn span,
.header .menu-btn span::before,
.header .menu-btn span::after {
    height: 2px;
    background-color: #00B8F0;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .menu-btn {
    width: 20px;
  }
  .header .menu-btn span,
.header .menu-btn span::before,
.header .menu-btn span::after {
    height: 2px;
  }
  @keyframes showAnimation {
    0% {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 576px) {
  .header .menu-btn {
    width: 20px;
  }
  .header .menu-btn--ml {
    margin-left: 10px;
  }
  .header__logo-img {
    height: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
